/* COLORS */
.green{color: #FAFAFA;}
.bg-green{background-color: green;}

/* DEFAULTS */
:root {font-size: 16pt;}
* {font-family: 'Times New Roman', sans-serif;color: #333;font-size: 1rem;}
body,html {margin: 0;}
img {max-width: 100%;}

/* TREE STYLING */
h1 {text-align: center;}
h1 {margin-top: 350px}
p {text-align: center;}

/* NAV STYLING */
.navbar{margin-bottom: 0%;}
@media (min-width: 768px){
  .navbar{border-radius: 0px;}
}
.navbar #menu-header-menu {list-style: none;padding: 10px 0;}
.navbar #menu-header-menu li a {color: #fff;}

/* HOME PAGE STYLING */
.jumbotron{background-image:url( ../img/hea23.png);background-size:cover;background-attachment: fixed;background-position: center;height:990px;}
.jumbotron h1 {color: whitesmoke;}

/* FOOTER STYLING */
footer{background-color: #ccc;}
